{% extends "base.html" %}

{% block content %}
<style type="text/css" media="screen">
</style>
<script type="text/javascript" charset="utf-8">
    var selectedAddress = null;

    function onTableLoaded() {
        $('#aps_ph').removeClass('loading');
        $('.progress').progress();
        $('#refresh').removeClass('disabled')
                .removeClass('loading');
        $('.connect').click(function() {
            preparePwRequestor();
            $('#pwrequest .ssid').html($(this).data('ssid'));
            selectedAddress = $(this).data('address');
            $('#pwrequest').modal('show');
        });
    }

    function doRefresh() {
        $('#refresh').addClass('disabled')
                .addClass('loading');
        $('#aps_ph').addClass('loading')
                .load('/scan', onTableLoaded);
    }

    function doUpgrade() {
        $('#upgrademodal').modal('show');
        $('#upgradeoutput').val('Invoking upgrader\n');
        $.post('/upgrade', onUpgradeCb);
        $('#upgradeloader').addClass('active');
    }

    function onUpgradeCb(data) {
        $('#upgradeoutput').val(data['result']);
        $('#upgradeloader').removeClass('active');
    }

    function validatePsk() {
        if ($('#psk').val().length < 8) {
            $('#submit_psk').addClass('disabled');
            // $('#psk').parent().addClass('error');
        } else {
            $('#submit_psk').removeClass('disabled');
            // $('#psk').parent().removeClass('error');
        }
    }

    function preparePwRequestor() {
        selectedAddress = null;
        $('#psk').val('');
        $('#pwrequest .button').removeClass('disabled');
        $('#submit_psk').addClass('disabled')
                .removeClass('loading');
    }

    function onConnectCb(data) {
        if (data['rc'] == 0) {
            $('#msgok .ssid').html(data['ssid']);
            $('#msgok').transition('fade down');
        } else {
            $('#msgnok .ssid').html(data['ssid']);
            $('#msgnok .errcode').html(data['rc']);
            $('#msgnok .reason').html(data['reason']);
            $('#msgnok').transition('fade down');
        }
        $('#pwrequest').modal('hide');
        doRefresh();
    }

    function onPwRequestorApproved() {
        var psk = $('#psk').val();
        console.log('Connecting to: ' + selectedAddress + ' psk: ' + psk);
        $.post('/connect', {address: selectedAddress, psk: psk}, onConnectCb);
        $('#pwrequest .button').addClass('disabled');
        $('#submit_psk').addClass('loading');

        return false;
    }

    $( document ).ready(function() {
        $('#refresh').click(doRefresh);
        $('#upgrade').click(doUpgrade);
        doRefresh();
        $('#pwrequest').modal({onApprove: onPwRequestorApproved})
                .modal('setting', 'closable', false);
        $('#upgrademodal').modal();
        $('#psk').on('change keypress paste textInput input', validatePsk);
        $('.message .close').click(function() { $(this).parent().transition('fade down'); });
    });
</script>

<div class="ui raised segment">
    <h3 class="ui inverted blue block header">Available wireless networks</h3>

    <div class="ui icon button" id="refresh"><i class="refresh icon"></i> Refresh</div>
    <div class="ui icon button" id="upgrade"><i class="download icon"></i> Upgrade software</div>

    <div id="msgok" class="ui success message hidden">
        <i class="close icon"></i>
        <div class="header">
            Connection successful!
        </div>
        <p>Monobox is now connected to <span class="ssid"></span></p>
    </div>

    <div id="msgnok" class="ui negative message hidden">
        <i class="close icon"></i>
        <div class="header">
            An error occurred while connecting
        </div>
        <p>Cannot connect to <span class="ssid"></span></p>
        <p>Error code: <span class="errcode"></span></p>
        <p>Possible reason: <span class="reason"></span></p>
    </div>

    <div id="aps_ph" class="ui segment">
    </div>
</div>


<!-- Modal password request -->
<div class="ui modal" id="pwrequest">
    <div class="header">
        Authenticate wireless connection
    </div>
    <div class="content">
        <h3>Connecting to <span class="ssid"></span></h3>

        <div class="description">
            <div class="ui header">A password is required for this connection</div>
            <p>
                <div class="ui left icon input">
                    <input placeholder="Password" type="password" id="psk">
                    <i class="lock icon"></i>
                </div>
            </p>
        </div>
    </div>

    <div class="actions">
        <div class="ui black button">
            Cancel
        </div>
        <div class="ui disabled positive right labeled icon button" id="submit_psk">
            Connect
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<!-- Modal upgrade panel -->
<div class="ui modal" id="upgrademodal">
    <i class="close icon"></i>
    <div class="header">
        Software upgrade
    </div>
    <div class="content">
        <div class="ui segment">
            <div class="ui inverted dimmer" id="upgradeloader"><div class="ui loader"></div></div>
            <textarea rows="40" cols="90" id="upgradeoutput" readonly></textarea>
        </div>
    </div>
</div>

{% endblock %}
